@model Scrobbly.Models.Play

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Play</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AlbumName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AlbumName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ArtistNames)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArtistNames)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Dirty)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Dirty)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ListenTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ListenTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Popularity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Popularity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TrackName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TrackName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SourceOf)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SourceOf)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TrackSpotifyId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TrackSpotifyId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ArtistSpotifyIds)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArtistSpotifyIds)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AlbumSpotifyId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AlbumSpotifyId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TrackDuration)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TrackDuration)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AlbumImage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AlbumImage)
        <dt>
            @Html.DisplayNameFor(model => model.Track)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Track.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
