@model Scrobbly.Models.Album

@{
    ViewData["Title"] = "Album Details";
    string allArtists = "";
    foreach (var albumToArist in Model.AlbumArtists)
    {
        allArtists += albumToArist.Artist.Name + ", ";
    }
    if (allArtists.Contains(","))
    {
        allArtists = allArtists.Remove(allArtists.LastIndexOf(","));
    }
    string allTags = "";
    foreach (var albumToTag in Model.AlbumTags)
    {
        allTags += albumToTag.Tag.Name + ", ";
    }
    if (allTags.Contains(","))
    {
        allTags = allTags.Remove(allTags.LastIndexOf(","));
    }
}

<h2>Album Details</h2>

<div>
    <h4>Album</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd>
            <img src=@Model.Image alt="Album Art">
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Track)
        </dt>
        <dd>
            <table class="table">
                @foreach (var item in Model.Track)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                    </tr>
                }
            </table>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AlbumArtists)
        </dt>
        <dd>
            @allArtists
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AlbumTags)
        </dt>
        <dd>
            @allTags
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SpotifyId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SpotifyId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
